/*reset*/
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: Arial, sans-serif;
}
body{
	margin: 0;
	font-family: Arial;
	background: #0f0f1a;
	color: white;
	display: block;
}
.banner{
	position: relative;
	text-align: center;
}
.banner-img{
	width: 100%;
	height: 300px;
	object-fit: cover;
}
.banner-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
}
.banner h1{
	font-size: 40px;
}
.navbar{
	display: flex;
	align-items: center;
	background: #171a21;
	padding: 15px;
}
.nav.menu a{
	color: white;
}
.navbar.menu a:hover{
	color:#00e676;
}
.navbar h2{
	color: #00c853;
	margin-right: 40px;
}
.menu{
	display: flex;
	gap:20px;
	margin: 0 auto;
}
.tema-btn{
	margin-left: auto;
}
.menu a{
	margin: 0 10px;
	text-decoration: none;
	color: white;
	transition: 0.3s;
}
.menu a:hover{
	color: #00e676;
}
.content{
	margin-left: 0;
}
h1, h2{
	text-align: center;
	margin-bottom: 20px;
}
.jogos{
	display:flex;
	gap: 20px;
	justify-content: center;
	flex-wrap:wrap;
}
.jogo{
	background: rgba(255,255,255,0.05);
	border-radius: 12px;
	padding: 15px;
	text-align: center;
	width: 260px;
	box-shadow: 0 0 15px rgba(0,255,150,0.3);
	transition: 0.3s;
}
.jogo:hover{
	transform: scale(1.05)translatey(-5px);
	box-shadow: 0 0 25px rgba(0,255,150,0.7);
}
.jogo img{
	width: 100%;
	height: 150px;
	object-fit: contain;
	background: #000;
	border-radius: 8px;
}
.preco{
	color: #00e676;
	font-weight: bold;
}
form{
	background: rgba(255,255,255,0.05);
	padding: 20px;
	border-radius: 10px;
	max-width: 400px;
	margin: 30px auto;
}
input, select, textarea{
	width: 100%;
	padding: 8px;
	margin-top: 5px;
	border: none;
	border-radius: 5px;
}
button{
	background-color: #00c853;
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
	width: 100%;
}
button:hover{
	background-color: #00e676;
}
#resultado{
	text-align: center;
	margin-top: 15px;
	font-weight: bold;
	padding: 10px;
	border-radius: 5px;
}
.sucesso{
	background: #00c853;
}
.erro{
	background: #d50000;
}
#cadastro{
	text-align: center;
	margin: 50px 0 20px;
	font-size: 30px;
	color: #00e676;
	text-shadow: 0 0 10px rgba(0,255,150,0.5);
}
.tema-btn{
	background: #00c853;
	border: none;
	padding: 8px 15px;
	cursor: pointer;
	border-radius: 5px;
	
}
body.light{
	background: #f5f5f5;
	color: #111;
}
body.light .sidebar{
	background: #ddd;
	color: #111;
}
body.light .jogo{
	background: #ffffff;
	color: #000;
}
body.light .content{
	color: #111;
}
body.light .banner{
	color: #111;
	text-shadow: none;
}
body.light .banner h1,
body.light .banner p,
body.light .content h1,
body.light .content p{
	color: #111 !important;
}
.comprar{
	background-color: #00c853;
	border: none;
	color: white;
	padding: 10px;
	cursor: pointer;
	width: 100%;
	border-radius: 5px;
	transition: 0.3s;
	margin-top: 10px;
}
.comprar:hover{
	transform: scale(1.1);
	background-color: #00e676;
}
form{
	max-width: 400ox;
	margin:40px auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.filtros{
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 20px auto;
	padding: 8px 15px;
	background: rgba(255,255,255,0.05);
	border-radius: 10px;
	width: fit-content;
}
.filtros button{
	padding: 6px 12px;
	font-size: 14px;
	border-radius: 5px;
	width: auto;
}
.filtros button:hover{
	background: #00c853;
	color: black;
	transform: scale(1.08);
	box-shadow: 0 0 10px rgba(0,255,150,0.7);
}
.filtros button:active{
	transform: scale(0.95);
}
.sobre-container{
	max-width: 800px;
	margin: 40px auto;
	background: rgba(255,255,255,0.05);
	padding: 25px;
	border-radius: 10px;
	line-height: 1.6;
}
.sobre-container h2{
	margin-top: 20px;
	color: #00e676;
}
.sobre-container ul{
	margin-top: 10px;
	padding-left: 20px;
}
.sobre-container li{
	margin-bottom: 8px;
}
.preco-antigo{
	text-decoration: line-throught;
	color: #aaa;
	font-size: 14px;
}
.pagina-promocao.jogos{
	display: flex;
	gap: 20px;
	justify-content: center;
	flex-wrap: wrap:
}
.pagina-promocao.jogo{
	width: 250px;
}
.pagina-promocao.jogo img{
	width: 100%;
	height: 180px;
	object-fit: cover;
	border-radius: 8px;
}
.preco-novo{
	color: #00e676;
	font-size: 20px;
	font-weight: bold;
}
.whatsapp-float{
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: #25d366;
	color: white;
	font-size: 20px;
	padding: 15px;
	border-radius: 50%;
	text-decoration: none;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	z-index: 999;
	transition: 0.3s;
}
.whatsapp-float:hover{
	transform: scale(1.1);
	background: #1ebe5d;
}
.whatsapp-float img{
	width: 30px;
	height: 30px;
}
#carrinho{
	position: fixed;
	top: 15px;
	right: 20px;
	background: #00c853;
	padding: 10px;
	border-radius: 8px;
	font-weight: bold;
	display: flex;
	align-items: center;
	gap: 10px;
}
.limpar-btn{
	margin-top: 10px;
	background: #d50000;
	color:white;
}
.limpar-btn:hover{
	background: #ff1744;
}
.btn-finalizar{
	background: #171a21;
	color:white;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 12px;
	width: auto;
}
.btn-finalizar:hover{
	background:#333;
}
.acoes{
	display: flex;
	align-items: center;
	gap: 10px;
}
.finalizar-container{
	max-width: 800px;
	margin: 40px auto;
	background: rgba(255,255,255,0.05);
	padding: 20px;
	border-radius: 10px;
}
.item-carrinho img{
	width: 60px;
	height: 60px;
	object-fit: cover;
	border-radius: 5px;
}
.item-info{
	flex: 1;
	margin-left: 10px;
}
.finalizar-btn{
	margin-top: 20px;
	background: #00c853;
	padding: 12px;
	width: 100%;
	borde-radius: 8px;
	font-size: 16px;
}
.finalizar-btn:hover{
	background: #00e676;
	transform: scale(1.05);
}
.footer{
	background: #171a21;
	color: white;
	margin-top: 40px;
	padding-top: 30px;
}
.footer-container{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 20px;
}
.footer-col{
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.footer-col h3,
.footer-col h4{
	color: #00e676;
}
.footer-col a{
	text-decoration: none;
	color: white;
	transition: 0.3s;
}
.footer-col a:hover{
	color: #00e676;
}
.footer-bottom{
	text-align: center;
	padding: 15px;
	border-top: 1px solid rgba(255,255,255,0.1);
	margin-top: 20px;
	font-size: 14px;
}
.pagamento{
	margin-top: 20px;
	display: flex;
	gap: 20px;
}
.pagamento label{
	background: rgba(255,255,255,0.05);
	padding: 10px;
	border-radius: 8px;
	cursor: pointer;
}
.dados-cliente{
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.dados-cliente input{
	padding: 10px;
	border-radius: 5px;
	border: none;
}
.logo-sobre{
	width: 300px;
	display: block;
	margin: 0 auto 20px;
	filter: dro-shadow(0 0 10px rgba(0,255,150,0.5));
}
@media(max-width: 768px){
	.sidebar{
		width: 100%;
		height: auto;
		position: relative;
	}
	.jogos{
		flex-direction: column;
		align-items: center;
	}
	form{
		width: 90%
	}
}
@media(max-width: 1024px){
	.jogos{
		justify-content: center;
	}
}
	